import React from "react";

import styles from "./{{properCase name}}.module.scss";

export type {{properCase name}}Props = {};

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({ ...props }) => {
  return (
    <div className={styles.root} data-testid="{{properCase name}}" {...props}>
      {JSON.stringify(props)}
    </div>
  );
};

export default {{properCase name}};
