import clsx from "clsx";
import React from "react";

import styles from "./{{properCase name}}.module.scss";

type BaseProps = Omit<
  React.DetailedHTMLProps<React.HTMLAttributes<HTMLDivElement>, HTMLDivElement>,
  "data-testid" | "ref"
>;

export type {{properCase name}}Props = BaseProps & {};

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({ className, ...props }) => {
  return (
    <div data-testid="{{properCase name}}" className={clsx(styles.root, className)} {...props}>
      {JSON.stringify(props)}
    </div>
  );
};

export default {{properCase name}};
