import React, { FC } from "react";

import {{properCase name}}, { {{properCase name}}Props } from "../{{properCase name}}";

const Example: FC<{{properCase name}}Props> = ({ ...props }) => {
  return (
    <div
      style=\{{
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        height: "100%",
      }}
    >
      <{{properCase name}} {...props} />
    </div>
  );
};

export default Example;
